.menu{
    background-color: #55555597;
    display: flex;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 1.4em;
    justify-content: space-around;
}
.menuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    color: #1a1208b6;
    padding: 1px;
    font-weight: 900;
    text-shadow:#fff9f1 0 0 3px;
    padding-inline: 5px;
    border: outset #55555597 2px;
    width: 100%;
    background-image: url('../../Elements/Imgs/BarkTexture.jpg');
    background-size: 100%;

}
.menuButton:hover{
    padding: 0;
    border: outset #55555597 3px;
    padding-inline  : 4.5px;
}
.collapser{
    align-items: center;
}
.collapser::after{
    content: "";
    width: 20px;
    height: 100%;
    color: transparent;
    text-shadow: none;
}